* {
	margin: 0;
}

body {
	color: #626567;
	font-family: 'Open Sans', helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0.5em 2em 2em;
}

nav {
	text-align: center;
	margin: auto;
	width: 100%;
}

a,
a:link,
a:visited {
	color: #3498DB;
	font-size: 0.6em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover,
a:active {
	text-decoration: underline;
}

#proto-link {
	padding-top: 25px;
}

#link-to-proto {
	text-align: center;
	width: 50%;
	margin: auto 25%;
	font-size: 1.5em;
	vertical-align: middle;
}

#link-to-top {
	font-size: 1.5em;
}

h1 {
	color: #28B463;
	font-size: 2em;
	line-height: 1.3em;
	text-align: center;
	margin: auto;
	padding: 1em 0;
}

h2 {
	color: #3498DB;
	font-size: 0.75em;
	font-weight: 700;
	text-transform: uppercase;
	padding: 3em 0 0 0;
}

h3 {
	font-size: 1.2em;
	padding: 0.25em 0 0 0;
}

p {
	padding: 0.5em 0;
}

p:last-child {
	padding-bottom: 2em;
}

hr {
	opacity: 0.3;
}

ul {
	padding-left: 1.2em;
}

li{
	line-height: 1.4em;
}

img {
	margin: auto;
	width: 100%;
}

.storyboard-image:first-of-type {
	margin: 25px 25% 0;
	width: 50%;
}

.storyboard-image {
	margin: 10px auto 0 auto;
	width: 100%;
}

#names {
	padding: 0 0 0.5em;
}

@media only screen and (min-width: 500px) {
	body {
		font-size: 18px;
		line-height: 1.7em;
		padding: 5em 2.5em;
		margin: auto;
		max-width: 750px;
	}
	#mobile-break {
		display: none;
	}
	li{
		line-height: 1.5em;
	}
	img {
		width: 50%;
	}
}